.intro {
  border-style: double;
  border-width: 10px;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.intro p {
  text-align: center;
}

.intro img {
  margin: auto;
  display: block;
}
