.pokemonCard {
  border-style: double;
  border-width: 10px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  display: block;
}

a.pokemonCard:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.pokemonCard p {
  text-align: center;
}

.pokemonCard img {
  margin: auto;
  display: block;
}
